h1
  text-align: center

.container
  padding: 10px 40px
  width: 580px
  margin: 0 auto

.company-list
  list-style: none
  width: 500px

.company
  padding: 4px 0 4px 6px
  border-top: 1px solid #bbb
  &:last-child
    border-bottom: 1px solid #bbb
  &:nth-child(even)
    background-color: #eee

.attendee-list
  display: none
  list-style: none

.dropdown
  padding-left: 5px
  transform: rotate(180deg)
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)