h1
  text-align: center

.container
  padding: 10px 4px
  width: 100%
  min-width: 320px
  margin: 0 auto

.company-list
  list-style: none
  width: 100%
  min-width: 300px

.company
  position: relative
  padding: 0 54px 0 10px
  border-top: 1px solid #bbb
  &:last-child
    border-bottom: 1px solid #bbb
  &:nth-child(even)
    background-color: #eee
  div
    height: 54px
    padding: 18px 0

.company-name
  div
    height: inherit
    overflow: hidden
    text-overflow: ellipsis

.attendee-list
  display: none
  list-style: none
  li
    margin-right: 30px
    padding: 6px 0
    border-top: 1px solid #ccc

.carat
  height: inherit
  width: 54px
  position: absolute
  top: 0
  right: 0
  span
    position: relative
    left: 18px